doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Q
    meta(name='description', content='Q')
    meta(name='author', content='MSz')
    link(rel='stylesheet', href='/public/css/style.css')
    block style
  body
    .nav
      a Q
    //- include notif.pug
    block content

block script
