extends template/main.pug

block content
    .toolbar
        button#toggle.tool-btn Stop
        button#exit.tool-btn Exit
    .container
        .imgContainer
            img#img

block script
    script(src='/public/js/q.js')
