extends template/main.pug

block content    
    .container.q
        .toolbar
            button#toggle.tb-item Stop
            button#exit.tb-item Exit
            select#cropTypes.tb-item

            
        .imgContainer
            img#img
block script
    script(src='/public/js/q.js')
